#intro {
    background-color: var(--salmon);
    /* 100vh + animation height + 200px */
    height: calc(100vh + 2000px);
    position: relative;
    z-index: -100;
}

#svg-container {
    width: 100vw;
    height: 100vh;
}

#intro svg {
    position: fixed;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}

#tile,
#intro svg {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

#logo-wrapper {
    -skrollr-animation-name: logo-animation;
}

@-skrollr-keyframes logo-animation {
    0 {
        transform: translate(0vw, 38vh);
        z-index: 1;
    }
    1800 {
        transform: translate(0vw, 0vh);
        z-index: -1;
    }
}

#scroll-button-wrapper {
    -skrollr-animation-name: scroll-button-animation;
}

@-skrollr-keyframes scroll-button-animation {
    0 {
        transform: translate(0vw, -36vh);
        z-index: 1;
    }
    1800 {
        transform: translate(0vw, 0vh);
        z-index: 1;
    }
}

#intro svg {
    -skrollr-animation-name: intro-animation;
}

#quad-1 polygon {
    transform-origin: 50% 50%;
}

#quad-2 polygon {
    transform-origin: 50% 50%;
}

#quad-3 polygon {
    transform-origin: 50% 50%;
}

#quad-4 polygon {
    transform-origin: 50% 50%;
}

#quad-1 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-1-animation-1;
}

#quad-1 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-1-animation-2;
}

#quad-1 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-1-animation-3;
}

#quad-1 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-1-animation-4;
}

#quad-1 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-1-animation-5;
}

@-skrollr-keyframes quad-1-animation-1 {
    0 {
        transform: translate(-70vw, -70vh)rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-2 {
    200 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-3 {
    400 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-4 {
    600 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-5 {
    800 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}


/* QUAD 2 */

#quad-2 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-2-animation-1;
}

#quad-2 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-2-animation-2;
}

#quad-2 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-2-animation-3;
}

#quad-2 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-2-animation-4;
}

#quad-2 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-2-animation-5;
}

@-skrollr-keyframes quad-2-animation-1 {
    0 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-2 {
    200 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-3 {
    400 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-4 {
    600 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-5 {
    800 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}


/* QUAD 3 */

#quad-3 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-3-animation-1;
}

#quad-3 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-3-animation-2;
}

#quad-3 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-3-animation-3;
}

#quad-3 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-3-animation-4;
}

#quad-3 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-3-animation-5;
}

@-skrollr-keyframes quad-3-animation-1 {
    0 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-2 {
    200 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-3 {
    400 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-4 {
    600 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-5 {
    800 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}


/* QUAD 4 */

#quad-4 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-4-animation-1;
}

#quad-4 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-4-animation-2;
}

#quad-4 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-4-animation-3;
}

#quad-4 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-4-animation-4;
}

#quad-4 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-4-animation-5;
}

@-skrollr-keyframes quad-4-animation-1 {
    0 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-2 {
    200 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-3 {
    400 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-4 {
    600 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-5 {
    800 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}