




#gap {
    -skrollr-animation-name: gap-animation;
}

@-skrollr-keyframes gap-animation {
    0 {
        height: 1%;
    }
    1800 {
        height: 100%;
    }
}


#intro svg {
    -skrollr-animation-name: intro-animation;
}

#quad-1 polygon {
    transform-origin: 50% 50%;
}

#quad-2 polygon {
    transform-origin: 50% 50%;
}

#quad-3 polygon {
    transform-origin: 50% 50%;
}

#quad-4 polygon {
    transform-origin: 50% 50%;
}

#quad-1 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-1-animation-1;
}

#quad-1 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-1-animation-2;
}

#quad-1 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-1-animation-3;
}

#quad-1 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-1-animation-4;
}

#quad-1 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-1-animation-5;
}

@-skrollr-keyframes quad-1-animation-1 {
    0 {
        transform: translate(-70vw, -70vh)rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-2 {
    200 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-3 {
    400 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-4 {
    600 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-5 {
    800 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}


/* QUAD 2 */

#quad-2 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-2-animation-1;
}

#quad-2 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-2-animation-2;
}

#quad-2 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-2-animation-3;
}

#quad-2 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-2-animation-4;
}

#quad-2 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-2-animation-5;
}

@-skrollr-keyframes quad-2-animation-1 {
    0 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-2 {
    200 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-3 {
    400 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-4 {
    600 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-5 {
    800 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}


/* QUAD 3 */

#quad-3 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-3-animation-1;
}

#quad-3 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-3-animation-2;
}

#quad-3 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-3-animation-3;
}

#quad-3 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-3-animation-4;
}

#quad-3 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-3-animation-5;
}

@-skrollr-keyframes quad-3-animation-1 {
    0 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-2 {
    200 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-3 {
    400 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-4 {
    600 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-5 {
    800 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}


/* QUAD 4 */

#quad-4 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-4-animation-1;
}

#quad-4 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-4-animation-2;
}

#quad-4 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-4-animation-3;
}

#quad-4 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-4-animation-4;
}

#quad-4 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-4-animation-5;
}

@-skrollr-keyframes quad-4-animation-1 {
    0 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-2 {
    200 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-3 {
    400 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-4 {
    600 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-5 {
    800 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}