#intro {
    background-clor: #36383A;
    background-color: rgb(54, 56, 59);
    background-color: var(--salmon);
    /* 100vh + animation height + 200px */
    height: calc(100vh + 2000px);
    position: relative;
    z-index: -100;
}

#intro .sacer {
    height: 1800px;
    display: none;
}

#svg-container {
    width: 100vw;
    height: 100vh;
}

svg {
    position: fixed;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}

#title,
#intro svg {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

#nav {
    -skrollr-animation-name: nav-animation;
}

@-skrollr-keyframes nav-animation {
    0 {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.0);
    }
    1800 {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.0);
    }
    2550 {
        opacity: 1;
        background-color: rgba(236, 106, 104, 0.0);
    }
    2600 {
        opacity: 1;
        background-color: rgba(236, 106, 104, 0.96);
    }
}

#title {
    -skrollr-animation-name: title-animation;
}

@-skrollr-keyframes title-animation {
    0 {
        bottom: 45vh;
        z-index: 1;
    }
    1800 {
        bottom: 0vh;
        z-index: -1;
    }
}

#scroll {
    -skrollr-animation-name: scroll-animation;
}

@-skrollr-keyframes scroll-animation {
    0 {
        opacity: 1;
    }
    1800 {
        opacity: 0;
    }
}

#intro svg {
    -skrollr-animation-name: intro-animation;
}

@-skrollr-keyframes intro-animation {
    0 {
        marin-top: 0px;
    }
    1800 {
        margn-top: 1800px;
    }
}

#quad-1 polygon {
    transform-origin: 50% 50%;
}

#quad-2 polygon {
    transform-origin: 50% 50%;
}

#quad-3 polygon {
    transform-origin: 50% 50%;
}

#quad-4 polygon {
    transform-origin: 50% 50%;
}

#quad-1 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-1-animation-1;
}

#quad-1 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-1-animation-2;
}

#quad-1 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-1-animation-3;
}

#quad-1 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-1-animation-4;
}

#quad-1 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-1-animation-5;
}

@-skrollr-keyframes quad-1-animation-1 {
    0 {
        transform: translate(-70vw, -70vh)rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-2 {
    200 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-3 {
    400 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-4 {
    600 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-1-animation-5 {
    800 {
        transform: translate(-70vw, -70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}


/* QUAD 2 */

#quad-2 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-2-animation-1;
}

#quad-2 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-2-animation-2;
}

#quad-2 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-2-animation-3;
}

#quad-2 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-2-animation-4;
}

#quad-2 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-2-animation-5;
}

@-skrollr-keyframes quad-2-animation-1 {
    0 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-2 {
    200 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-3 {
    400 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-4 {
    600 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-2-animation-5 {
    800 {
        transform: translate(70vw, -70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}


/* QUAD 3 */

#quad-3 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-3-animation-1;
}

#quad-3 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-3-animation-2;
}

#quad-3 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-3-animation-3;
}

#quad-3 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-3-animation-4;
}

#quad-3 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-3-animation-5;
}

@-skrollr-keyframes quad-3-animation-1 {
    0 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-2 {
    200 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-3 {
    400 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-4 {
    600 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-3-animation-5 {
    800 {
        transform: translate(70vw, 70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}


/* QUAD 4 */

#quad-4 polygon:nth-child(5n) {
    -skrollr-animation-name: quad-4-animation-1;
}

#quad-4 polygon:nth-child(5n+1) {
    -skrollr-animation-name: quad-4-animation-2;
}

#quad-4 polygon:nth-child(5n+2) {
    -skrollr-animation-name: quad-4-animation-3;
}

#quad-4 polygon:nth-child(5n+3) {
    -skrollr-animation-name: quad-4-animation-4;
}

#quad-4 polygon:nth-child(5n+4) {
    -skrollr-animation-name: quad-4-animation-5;
}

@-skrollr-keyframes quad-4-animation-1 {
    0 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1000 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-2 {
    200 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1300 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-3 {
    400 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1500 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-4 {
    600 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1650 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}

@-skrollr-keyframes quad-4-animation-5 {
    800 {
        transform: translate(-70vw, 70vh) rotate(360deg);
    }
    1800 {
        transform: translate(0vw, 0vh) rotate(0deg);
    }
}