@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}

@media only screen and (max-width: 900px) {
    #work .odd p,
    #work .odd h2,
    #work .odd .links-wrapper {
        padding-left: 30px;
    }
    #work .even p,
    #work .even h2,
    #work .even .links-wrapper {
        padding-right: 30px;
    }
    #scroll-button {
        width: 7vw;
        height: 7vw;
        margin-top: calc(1vw + 1vh);
    }
}

@media only screen and (max-width: 650px) {
    h2 {
        font-size: 1.5em;
    }
    #showcase p {
        font-size: 1em;
        line-height: 1.5em;
        padding: 0px 12px;
    }
    #showcase .scp {
        font-size: 0.6875em;
    }
    #showcase img {
        height: 70%;
    }
}

@media only screen and (max-width: 500px) {
    #title {
        padding-left: 0px;
        padding-right: 0px;
    }
    #showcase h2 {
        font-size: 1.125em;
    }
    #about {
        padding: 5px;
    }
    #showcase p {
        font-size: 0.875em;
        line-height: 1.375em;
        padding: 0px 12px;
    }
    #work .even {
        text-align: left;
    }
    #work .img-container {
        width: 100%;
    }
    #work .odd .desc {
        width: 100%;
        clear: both;
    }
    #work .even .desc {
        clear: both;
        width: 100%;
    }
    #work .odd p,
    #work .odd h2,
    #work .odd .links-wrapper {
        padding: 0px 8px;
    }
    #work .even p,
    #work .even h2,
    #work .even .links-wrapper {
        padding: 0px 8px;
    }
    #work .desc {
        margin-top: 20px;
    }
    #content .labels {
        margin-right: 4px;
    }
    #content .links {
        margin-left: 4px;
    }
    #nav p {
        padding: 0;
        white-space: nowrap;
        font-size: 0.9375em;
    }
    #showcase {
        width: 90vw;
    }
}

@media only screen and (max-device-width: 768px) {
    body,
    html {
        font-size: 40px;
    }
    #content {
        width: 85vw;
    }
    #work .even {
        text-align: left;
    }
    #work .img-container {
        width: 100%;
    }
    #work .odd .desc {
        width: 100%;
        clear: both;
    }
    #work .even .desc {
        clear: both;
        width: 100%;
    }
    #work .odd p,
    #work .odd h2,
    #work .odd .links-wrapper {
        padding: 0px 8px;
    }
    #work .even p,
    #work .even h2,
    #work .even .links-wrapper {
        padding: 0px 8px;
    }
    #work .desc {
        margin-top: 20px;
    }
}