@media only screen and (max-width: 900px) {
    #work .odd p,
    #work .odd h2,
    #work .odd .links-wrapper {
        padding-left: 30px;
    }
    #work .even p,
    #work .even h2,
    #work .even .links-wrapper {
        padding-right: 30px;
    }
    #scroll-button {
        width: 7vw;
        height: 7vw;
        margin-top: calc(1vw + 1vh);
    }
    #bio {
        width: 65vw;
    }
}

@media only screen and (max-width: 650px) {
    .logo.narrow {
        display: inline-block;
        width: 60vw;
        min-width: 19.375em;
    }
    .logo.wide {
        display: none;
    }
    .scroll-button {
        padding: 1em 0;
    }
    h2 {
        font-size: 1.5em;
    }
    #bio .item,
    #bio p {
        --p-padding: 1.3em;
        font-size: 1.06em;
    }
    #bio .item:nth-child(even) p {
        padding-left: 0;
    }
    #bio {
        width: 70vw;
    }
}

@media only screen and (max-width: 500px) {
    #work .even {
        text-align: left;
    }
    #work .img-container {
        width: 100%;
    }
    #work .odd .desc {
        width: 100%;
        clear: both;
    }
    #work .even .desc {
        clear: both;
        width: 100%;
    }
    #work .odd p,
    #work .odd h2,
    #work .odd .links-wrapper {
        padding: 0px 8px;
    }
    #work .even p,
    #work .even h2,
    #work .even .links-wrapper {
        padding: 0px 8px;
    }
    #work .desc {
        margin-top: 20px;
    }
    #nav p {
        padding: 0;
        white-space: nowrap;
        font-size: 0.9375em;
    }
    #showcase {
        width: 90vw;
    }
    #bio .item,
    #bio p {
        --p-padding: .9em;
        font-size: 1.05em;
    }
    #bio {
        width: 80vw;
        margin-bottom: .625em;
    }
    #bio .item {
        margin: 0 0 1.25em 0;
        display: inline-block;
    }
    #bio .narrow {
        display: inline-block;
        margin-left: var(--p-padding);
    }
    #bio .wide {
        display: none;
    }
}

@media only screen and (max-device-width: 768px) {
    body,
    html {
        font-size: 40px;
    }
    .logo.narrow {
        display: inline-block;
    }
    .logo.wide {
        display: none;
    }
    .scroll-button {
        padding: 1.5em 0;
    }
    #content {
        width: 85vw;
    }
    #bio .item,
    #bio p {
        --p-padding: .5em;
        font-size: 1.05em;
    }
    #bio {
        width: auto;
        margin-bottom: .625em;
    }
    #bio .item {
        margin: 0 0 1.25em 0;
        display: inline-block;
    }
    #bio .narrow {
        display: inline-block;
        margin-left: var(--p-padding);
    }
    #bio .wide {
        display: none;
    }
    #bio .item:nth-child(even) p {
        padding-left: 0;
    }
    #work .even {
        text-align: left;
    }
    #work .img-container {
        width: 100%;
    }
    #work .odd .desc {
        width: 100%;
        clear: both;
    }
    #work .even .desc {
        clear: both;
        width: 100%;
    }
    #work .odd p,
    #work .odd h2,
    #work .odd .links-wrapper {
        padding: 0px 8px;
    }
    #work .even p,
    #work .even h2,
    #work .even .links-wrapper {
        padding: 0px 8px;
    }
    #work .desc {
        margin-top: 20px;
    }
}