html,
body {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Aileron';
    src: url('/Aileron/aileron-bold-webfont.woff2') format('woff2'), url('/Aileron/aileron-bold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/Aileron/aileron-light-webfont.woff2') format('woff2'), url('/Aileron/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/Aileron/aileron-lightitalic-webfont.woff2') format('woff2'), url('/Aileron/aileron-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('/Aileron/aileron-semibold-webfont.woff2') format('woff2'), url('/Aileron/aileron-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/Aileron/aileron-semibolditalic-webfont.woff2') format('woff2'), url('/Aileron/aileron-semibolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Avenir Next', 'Aileron', 'Arial', sans-serif;
    color: #5A5F63;
    color: #6A7279;
    font-size: 32px;
}

h1,
h2,
p,
a,
img,
#title {
    -webkit-transition: font 0.3s ease;
    -moz-transition: font 0.3s ease;
    -o-transition: font 0.3s ease;
    -ms-transition: font 0.3s ease;
}

h1 {
    font-size: 36px;
    letter-spacing: 0.4px;
    color: #272A2D;
    font-weight: normal;
    margin-bottom: 0px;
}

h2 {
    font-size: 24px;
    color: #272A2D;
    letter-spacing: 0.65px;
    font-weight: normal;
    margin-bottom: 0px;
}

h1,
h2 {
    text-transform: lowercase;
    font-weight: 500;
}

p {
    font-size: 18px;
    /* 0.4 px*/
    letter-spacing: 0.2px;
    line-height: 32px;
}

#nav {
    backgrund-color: rgba(242, 115, 96, 0.95);
    width: 100%;
    height: 60px;
    margin: 0px;
    position: fixed;
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: center;
}

#nav a {
    margin: 18px;
}

#nav li {
    display: inline-block;
}

ul {
    list-style: none;
}

#title-container {
    height: calc(100vh + 800px);
    width: 100vw;
    text-align: center;
    position: absolute;
}

#title-wrap {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-container .spacer {
    height: calc(100vh + 996px);
    width: 100vw;
}


/* adjust padding for responsive design */

#title {
    cursor: pointer;
    font-size: 42px;
    color: white;
    font-weight: bold;
    display: block;
    position: fixed;
    padding: 35px 35px;
    textshadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
    white-space: nowrap;
    text-transform: lowercase;
    font-weight: 500;
    z-index: -1;
}

#content-container {
    background-color: white;
    bo-shadow: rgba(0, 0, 0, 0.3) 1px 1px 60px 0px;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    width: 80vw;
    padding: 80px 0px 80px 0px;
    text-align: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

#about {
    padding: 0px 20px;
    max-width: 690px;
}

#showcase {
    margin-top: 60px;
    display: flex;
    max-width: 850px;
}

#showcase img {
    margin-bottom: 20px;
    max-width: 220px;
    width: 80%;
}

#showcase p {
    font-size: 16px;
    line-height: 24px;
    padding: 0px 20px;
    margin-bottom: 0px;
}

#showcase .item {
    width: 33%;
    padding: 0px 0px;
}

.date {
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .8px;
    margin-top: 20px;
    line-height: 11px !important;
}

#projects {
    margin-top: 70px;
}

#filters {
    margin: 30px 0px 40px 0px;
    font-size: 14px;
    font-style: italic;
}

#projects .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects .item {
    width: 49%;
}

#projects img {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    #title {
        font-size: 28px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 650px) {
    #title {
        font-size: 22px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 500px) {
    #title {
        font-size: 18px;
        padding-left: 0px;
        padding-right: 0px;
    }
    h2 {
        font-size: 18px;
    }
    #about {
        padding: 5px;
    }
    #showcase p {
        font-size: 14px;
        line-height: 20px;
        padding: 0px 5px;
    }
    #showcase .item {
        padding: 0px;
    }
}