html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

@font-face {
    font-family: 'Aileron';
    src: url('/Aileron/aileron-bold-webfont.woff2') format('woff2'), url('/Aileron/aileron-bold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/Aileron/aileron-light-webfont.woff2') format('woff2'), url('/Aileron/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/Aileron/aileron-lightitalic-webfont.woff2') format('woff2'), url('/Aileron/aileron-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('/Aileron/aileron-semibold-webfont.woff2') format('woff2'), url('/Aileron/aileron-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('/Aileron/aileron-semibolditalic-webfont.woff2') format('woff2'), url('/Aileron/aileron-semibolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Aileron', 'Arial', sans-serif;
    color: #5A5F63;
    color: #6A7279;
    font-size: 32px;
}

h1 {
    font-size: 36px;
    letter-spacing: 0.4px;
    color: #272A2D;
    font-weight: normal;
    margin-bottom: 0px;
}

h2 {
    font-size: 24px;
    color: #272A2D;
    letter-spacing: 0.65px;
    font-weight: normal;
    margin-bottom: 0px;
}

p {
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 30px;
}

#title-container {
    height: calc(100vh + 800px);
    width: 100vw;
    text-align: center;
    position: absolute;
}

#title-wrap {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-container .spacer {
    height: calc(100vh + 596px);
    width: 100vw;
}


/* adjust padding for responsive design */

#title {
    font-size: 24px;
    color: #DDF0FF;
    font-weight: bold;
    z-index: 1000;
    display: block;
    position: fixed;
    padding: 25px 45px;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
}

#content-container {
    z-index: 1000;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 60px 0px;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    width: 80vw;
    padding: 80px 0px 80px 0px;
    text-align: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

#about {
    padding: 0px 20px;
    max-width: 690px;
}

#showcase {
    margin-top: 40px;
    display: flex;
    max-width: 850px;
}

#showcase img {
    margin-bottom: 20px;
    max-width: 220px;
    width: 80%;
}

#showcase p {
    font-size: 14px;
    line-height: 22px;
    padding: 0px 20px;
    margin-bottom: 0px;
}

#showcase .item {
    width: 33%;
    padding: 0px 0px;
}

.date {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .92px;
}

#projects {
    margin-top: 80px;
}

#filters {
    margin: 20px 0px 30px 0px;
    font-size: 12px;
    font-style: italic;
}

#projects .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects .item {
    width: 49%;
}

#projects img {
    width: 100%;
}