:root {
    --salmon: #f27360;
    --salmon: #F26060;
    --salmon: #EC6A68;
    --dark-gray: #272A2D;
    --gray: #6A7279;
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

body {
    font-family: 'Avenir Next', 'Nunito', 'Arial', sans-serif;
    color: var(--gray);
    font-weight: 400;
    font-size: 32px;
}

h1,
h2,
p,
a,
img,
#title,
{
    -webkit-transition: font 0.3s ease;
    -moz-transition: font 0.3s ease;
    -o-transition: font 0.3s ease;
    -ms-transition: font 0.3s ease;
}

h2,
#title,
p {
    transition: font .2s linear;
    -o-transition: font .2s linear;
    -moz-transition: font .2s linear;
    -webkit-transition: font .2s linear;
}

a,
#scroll-button svg {
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    Transition: .4s;
}

h1 {
    font-size: 40px;
    letter-spacing: 0.4px;
    margin-bottom: -20px;
}

h2 {
    font-size: 28px;
    letter-spacing: 0.65px;
    margin-bottom: 0px;
}

h1,
h2 {
    text-transform: lowrcase;
    font-weight: 500;
    color: var(--dark-gray);
}

p {
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    color: var(--gray);
}

a {
    text-decoration: none;
}

.underline {
    background-color: var(--salmon);
    height: 4px;
    width: 120px;
    text-align: center;
    display: inline-block;
}

#work .underline {
    width: 60px;
}

#contact .underline {
    width: 80px;
}

#nav {
    background-color: rgba(236, 106, 104, 0.92);
    backgound-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 50px;
    margin: 0px;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 100;
}

#nav p {
    font-family: 'Source Code Pro', 'Courier STD', monospace;
    color: white;
    colr: var(--salmon);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
    margin: 12px 20px;
    cursor: pointer;
    text-transform: uppercase;
    backgrond-color: rgba(236, 106, 104, 0.92);
    backround-color: rgba(255, 255, 255, 0.95);
}

#nav span:hover {
    opacity: 0.2;
}

#nav span:not(.slash) {
    margin: 0px 5px;
}

#nav span:after {}

#nav span:last-child():after {}

#nav li {
    display: inline-block;
}

ul {
    list-style: none;
}

#title-container {
    height: calc(100vh + 800px);
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    diplay: -webkit-flex;
    display: -webkit-box;
    -ms-flex-align: center;
    algn-items: !important center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
}


/* adjust padding for responsive design */

#title {
    position: fixed;
    textshadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
    white-space: nowrap;
    z-index: 1;
    top: calc(100% - 80px);
    top: calc(100% - 10vh);
    text-align: center;
    font-size: 36px;
    width: 100%;
}

#title span {
    color: white;
    text-transform: lowercase;
}

#scroll-button {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-top: 20px;
    overflow: visible;
}

#scroll-button svg {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

#scroll-button svg:hover {
    opacity: 0.3;
}

#content-container {
    background-color: white;
    bo-shadow: rgba(0, 0, 0, 0.3) 1px 1px 60px 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

#content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80vw;
    padding: 80px 0px 30px 0px;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 800px;
}

#about {
    padding: 0px 20px;
    max-width: 690px;
}

#about p {
    font-size: 19px;
    /* 0.4 px*/
    letter-spacing: 0.2px;
    line-height: 34px;
}

#showcase {
    /* temp */
    heght: 100%;
    margin-top: 60px;
    display: -ms-flexbox;
    display: flex;
    mx-width: 850px;
}

#showcase img {
    margin-bottom: 20px;
    max-width: 220px;
    width: 80%;
}

#showcase p {
    padding: 0px 20px;
    margin-bottom: 0px;
}

#showcase .item {
    width: 33%;
    padding: 0px 0px;
}

.date {
    font-family: 'Source Code Pro', 'Courier STD', monospace;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .8px;
    margin-top: 24px;
    line-height: 13px !important;
    coor: var(--salmon);
    color: var(--dark-gray);
    opacity: 1;
}

#work {
    /* temp */
    heigt: 100%;
    heigt: 700px;
    margin-top: 70px;
}

#filters {
    margin: 10px 0px 60px 0px;
}

#filters span {
    color: var(--dark-gray);
    text-transform: uppercase;
    font-style: normal;
    font-size: 13px;
    font-family: 'Source Code Pro', 'Courier STD', monospace;
}

#filters p {
    font-size: 16px;
    font-style: italic;
    display: inline-block;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

#filters p:hover {
    color: var(--salmon);
    font-weight: 600;
}

#filters .active {
    color: var(--salmon);
    font-weight: 600;
}

#work .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


/*
#work .item {
    width: 49%;
}

#work img {
    width: 100%;
}
*/

#work .item {
    text-align: left;
    width: 100%;
    margin-bottom: 60px;
}

#work img {
    width: 50%;
}

#work .desc p {
    margin: 20px 0px 5px 0px;
}

#work .left p,
#work .left h2,
#work .left span {
    padding-left: 31px;
}

#work h2 {
    margin: 15px 0px 0px 0px;
    letter-spacing: 0px;
}

#work .desc span {
    font-family: 'Source Code Pro', 'Courier STD', monospace;
    color: var(--salmon);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .86px;
    margin: 0px;
    cursor: pointer;
}

#work .desc span:hover {
    opacity: 0.2;
}

#work .left {
    text-align: left;
}

#work .left img {
    float: left;
}

#work .left .desc {
    float: right;
    width: 50%;
}

#work .right {
    text-align: right;
}

#work .right img {
    float: right;
}

#work .right .desc {
    float: right;
    width: 50%;
}

#work .right p,
#work .right h2,
#work .right span {
    padding-right: 31px;
}

#contact {
    margin-bottom: 80px;
}

#contact .container {
    margin-top: 15px;
    line-height: 45px;
}

#contact .labels {
    float: left;
    text-align: right;
    font-size: 14px;
    letter-spacing: .86px;
    font-family: 'Source Code Pro', 'Courier STD', monospace;
    text-transform: uppercase;
    margin-right: 20px;
}

#contact .labels a {
    color: var(--salmon);
}

#contact .links {
    float: right;
    text-align: left;
    font-size: 17px;
    letter-spacing: .43px;
    color: var(--dark-gray);
    margin-left: 20px;
}

#contact a {
    color: var(--gray);
}

#contact a:hover {
    opacity: 0.2;
}

#push {
    height: 80px;
    background-color: white;
}

.footer {
    background-color: var(--salmon);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px;
    text-align: center;
}

.footer a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
}

.footer a:hover {
    opacity: 0.2;
}

@media only screen and (max-width: 900px) {
    #title {
        paddig: 25px 0px;
    }
    #work .left p,
    #work .left h2,
    #work .left a {
        padding-left: 30px;
    }
    #work .right p,
    #work .right h2,
    #work .right a {
        padding-right: 30px;
    }
    #work .desc h2 {
        margin-top: 0px;
    }
    #work .desc p {
        margin: 12px 0px 0px 0px;
    }
    #scroll-button {
        width: 7vw;
        height: 7vw;
        margin-top: calc(1vw + 1vh);
    }
}

@media only screen and (max-width: 750px) {
    #title {
        font-size: 4.5vw;
    }
}

@media only screen and (max-width: 650px) {
    h2 {
        font-size: 24px;
    }
    #showcase p {
        font-size: 15px;
        line-height: 23px;
        padding: 0px 12px;
    }
    #showcase .date {
        font-size: 11px;
    }
}

@media only screen and (max-width: 500px) {
    #title {
        padding-left: 0px;
        padding-right: 0px;
    }
    #showcase h2 {
        font-size: 18px;
    }
    #about {
        padding: 5px;
    }
    #showcase p {
        font-size: 14px;
        line-height: 22px;
        padding: 0px 12px;
    }
    #showcase .item {
        padding: 0px;
    }
    #filters p {
        margin: 0px 5px 0px 5px;
    }
    #work .right {
        text-align: left;
    }
    #work img {
        width: 100%;
    }
    #work .left .desc {
        width: 100%;
        clear: both;
    }
    #work .right .desc {
        clear: both;
        width: 100%;
    }
    #work .left p,
    #work .left h2,
    #work .left a {
        padding: 0px 8px;
    }
    #work .right p,
    #work .right h2,
    #work .right a {
        padding: 0px 8px;
    }
    #work .desc {
        margin-top: 20px;
    }
    #content .labels {
        margin-right: 4px;
    }
    #content .links {
        margin-left: 4px;
    }
    #nav span:not(.slash) {
        margin: 0px -2px;
    }
    #nav p {
        padding: 0;
        white-space: nowrap;
        font-size: 13px;
    }
}

@media only screen and (max-height: 350px) and (max-device-width: 480px) {
    #intro {
        display: none;
    }
    #title {
        display: none;
    }
    #nav span:nth-child(1),
    .slash {
        display: none;
    }
}